.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 8vh;
    width: 10vw;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}
.toggle-button:focus{
    outline: none;
}
.toggle-button__line{
    width: 25px;
    height: 5px;
    background: #F0F2F5;
}