    
.user{
    background-image: url(art.png);
    background-size: cover;
    width: 5em;
    height: 5em;
    border-radius: 0.5em;
    overflow: hidden;
    position: inherit;
    margin: auto;
    margin-top: 0em;
    margin-bottom: 3.5em;
}
.inputBox{
    text-align: center;
}
.inputBox:hover {
    z-index: 1;
}
form{
    font-family: Optima, sans-serif black;
    display: inline-block;
}

.boxContact{
    width: auto;
    padding: 80px;
    background: #EBECF0;
    box-sizing: border-box;
    box-shadow:0 15px 25px  rgba(0, 0, 0, .5);
    border-radius: 10px;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 3em;
}
.boxContactIn{
    width: auto;
    padding: 3.5em;
    background: #999999;
    box-sizing: border-box;
    box-shadow:0 30px 30px rgba(0, 0, 0, .4);
    border-radius: 10px;
    margin: auto;
    margin-top: 3.5em;
}
.boxContact h2{
    margin: 1em 0 2em;
    font-size: 210%;
    padding: 0;
    color: #656464;
    text-align: center; 
}
.boxContact .inputBox{
   align-content: center;
   
}
.boxContact .inputBox input{
    
    width: 80%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    Letter-spacing: 2px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff ;
    outline: none;
    background: transparent;
}
.boxContact .inputBox label{
   
    padding: 25px 0;
    font-size: 20px;
    color: #656464;
    pointer-events: none;
    transition: .5s;
}

.boxContact input[type="submit"]
{
    background: transparent;
    margin-top: 2.5em;
    font-size: 25px;
    border: none;
    outline: none;
    color: #fff;
    background: #656464;
    padding: 25px 75px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:0 20px 25px rgba(1, 1, 1, .6);
}
.boxContact input[type="submit"]:hover{
    background: #4D5461;
}
@media (max-width: 1025px ) {
    .boxContact{
        padding: 1em
    }
    .boxContact .inputBox label{
        font-size: 22px;
    }
    .boxContact h2{
        font-size: 30px;
        margin: 2em 0 3em;
    }
    .boxContact input[type="submit"]
{
    margin-top: 3em;
    margin-bottom: 2em;
    padding: 20px 70px;
}
}